[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
python-ndn = {editable = true, extras = ["dev"], path = "."}
atomicwrites = "*"

[requires]
python_version = "3.10"

[scripts]
test = "pytest tests"
